name: Plot new DNS data
on:
  push:
    branches: [ master ]

jobs:
  test_job:
    runs-on: ubuntu-latest
    name: Plot new DNS data
    steps:
      # To use this repository's private action, you must check out the repository
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Plot new DNS data
        uses: ./
        with:
            args: "/app/plotgraph.sh covid graphs results"
    
      - name: Commit files
        run: /bin/sh commit_and_push "Plot new DNS data" graphs
