name: Download new DNS data
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    # trigger every day @midnight
    - cron:  '0 0 * * *'
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test_job:
    runs-on: ubuntu-latest
    name: Download new DNS data
    steps:
      # To use this repository's private action, you must check out the repository
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Download new DNS data
        uses: ./
        with:
            commands: -c "python3 /app/get_dns.py -d /historic"
    
      - name: Commit files
        run: |
          find -ls
          git config --local user.email "action@github.com"
          git config --local user.name "DNS data download"
          git add historic/*
          git commit -m "$(date)" -a
          git pull
          
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
